<tr>
  <td><%= fetch_month.year %></td>
  <td><%= Date::MONTHNAMES[fetch_month.month] %></td>
  <td><%= fetch_month.status %><% if fetch_month.failure_reason %>: <%= fetch_month.failure_reason %><% end %></td>
  <td><%= fetch_month.crawl_item_druid %></td>
</tr>
