<%= simple_form_for @collection do |form| %>
  <div class="card">
    <div class="card-header">Collection</div>
    <div class="card-body">
      <%= form.input :title %>
      <%= form.input :druid %>
      <%= form.input :fetch_start_month, as: :date, start_year: Date.today.year - 15,
                  end_year: Date.today.year, discard_day: true,
                  order: [:month, :year] %>
      <%= form.input :embargo_months %>
      <%= form.input :active %>
      <%= form.button :submit, class: 'btn-primary' %>
    </div>
  </div>
<% end %>
