<%= simple_form_for @collection, data: { turbo: false } do |form| %>
  <div class="card">
    <div class="card-header">Collection</div>
    <div class="card-body">
      <%= form.input :title %>
      <%= form.input :druid, label: 'Collection Druid' %>
      <%= form.input :fetch_start_month, as: :date, start_year: Date.today.year - 15,
                  end_year: Date.today.year, discard_day: true,
                  order: [:month, :year] %>
      <%= form.input :wasapi_provider_account, label: 'WASAPI provider / account', collection: @wasapi_provider_accounts %>
      <%= form.input :wasapi_collection_id, label: 'WASAPI collection id' %>
      <%= form.input :embargo_months %>
      <%= form.input :admin_policy, collection: [
          ['Web Archive Crawl Object Public APO', 'druid:wr005wn5739'],
          ['Web Archive Crawl Object Dark APO', 'druid:yf700yh0557']
        ] %>
      <%= form.input :active %>
      <%= form.button :submit, class: 'btn-primary mt-2' %>
      <%= link_to 'Cancel', collections_path, class: 'ms-2' %>
    </div>
  </div>
<% end %>
