<%= simple_form_for @collection do |form| %>
  <div class="card">
    <div class="card-header">Collection</div>
    <div class="card-body">
      <%= form.input :title %>
      <%= form.input :druid %>
      <%= form.input :last_successful_fetch, as: :string, input_html: { data: { provide: 'datepicker' } } %>
      <%= form.input :embargo_months %>
      <%= form.button :submit, class: 'btn-primary' %>
    </div>
  </div>
<% end %>
