<%= link_to '< Back', root_path %>
<h1>Edit <%= @collection.title %></h1>
<%= render 'form' %>

<div class="card" style="margin-top: 20px">
  <div class="card-header">Actions</div>
  <div class="card-body">
    <%= render(ActionsComponent.new(collection: @collection)) %>
  </div>
</div>

<div class="card" style="margin-top: 20px">
  <div class="card-header">Months</div>
  <div class="card-body">
    <%= render(FetchMonthsComponent.new(collection: @collection)) %>
  </div>
</div>
