<table class="table">
  <thead>
  <tr>
    <th scope="col">Collection</th>
    <th scope="col">Druid</th>
    <th scope="col">Last successful fetch</th>
    <th scope="col">Last fetch succeeded</th>
    <th scope="col">On/off</th>
  </tr>
  </thead>
  <tbody>
  <% @collections.each do |collection| %>

    <tr>
      <th scope="row"><%= link_to collection.title, edit_collection_path(collection)%></th>
      <td><%= collection.druid %></td>
      <td><%= collection.last_successful_fetch %></td>
      <td><%= collection.last_fetch_succeeded %></td>
      <td><%= collection.active ? 'on' : 'off' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div>
<%= link_to "Add a Collection", new_collection_path, class: 'btn btn-link'%>
