<!DOCTYPE html>
<html>
  <head>
    <title>WasRegistrarApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |name, msg| %>
        <% if name == 'notice' %>
          <%= content_tag :div, msg, class: "alert alert-info" %>
        <% end %>
        <% if name == 'alert' %>
          <%= content_tag :div, msg, class: "alert alert-warning" %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
